html {
  background-color: white;
}
* {
  font-family: Raleway, sans-serif;
  text-decoration: none;
}
a {
  color: initial;
}
img {
  min-height: 50px;
  max-height: 100px;
}
/* ****************Navigation**************** */
nav {
  margin: 0px;
  padding-bottom: 0px;
  height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}
#logo {
  align-items: flex-start;
}
nav a:hover {
  border-top: 3px solid;
  border-color: #0065fc;
  color: #0065fc;
  text-decoration: #0065fc;
}
div.location .activate {
  border-top: #0065fc solid;
  border-width: 3px;
  color: #0065fc;
  text-decoration: #0065fc;
}

#Navigation {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr 1fr 1fr;
  grid-template-areas: "logo" "location" "Activites" "Inscription";
}
#Navigation #logo {
  grid-column: 1/2;
  display: flex;
  justify-content: flex-start;
}
#Navigation .location {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Navigation .Activites {
  grid-column: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Navigation .Inscription {
  grid-column: 4/5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Inscription a {
  color: #0065fc;
  text-decoration: none;
  border-top: none;
}
/* ******************Barre-de-recherche**************** */
#Recherche h2 {
  font-weight: bold;
  font-size: 2em;
  display: flex;
}
#Recherche {
  padding: 15px;
}
label,
input {
  display: table-row;
}
input[type="submit"] {
  background-color: #0065fc;
  color: white;
  border-radius: 0 1em 1em 0;
  height: 4em;
  padding-right: 10px;
  border: #0065fc;
  font-weight: bold;
}
.Search {
  padding: 1em;
}
input[type="search"] {
  height: 4em;
  margin-left: -3px;
  font-weight: bold;
  border: #f2f2f2;
}

span i {
  background-color: #f2f2f2;
  padding: 18px;
  border-radius: 1em 0 0 1em;
}
div,
h3,
ul {
  display: inline-block;
}
ul li {
  list-style-type: none;
  display: inline-block;
}
@media screen and (max-width: 700px) {
  #Navigation {
    display: flex;
    align-items: flex-end;
    grid-column: 2/5;
    grid-row: 2/5;
  }
}
