html {
  background-color: transparent;
}
body {
  padding: 0px;
  margin: 0px;
}
* {
  font-family: Raleway, sans-serif;
  text-decoration: none;
}
a {
  color: initial;
}
/* ****************Navigation**************** */
nav {
  margin-top: 0;
  padding-top: 5px;
  height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.NavBar {
  margin-left:30rem;
  margin-top: -15px;
}
.NavBar a {
  margin-right: 5em;
  padding-top: 2rem;
}
.NavBar a:hover {
  text-decoration: none;
  border-top: 3px solid #0065fc;
        padding-top: 2rem;
}
.NavBar [data-active="true"] {
  color:#0065fc;
  text-decoration:#0065fc;
  border-top: 3px solid #0065fc;
        padding-top: 2rem;
}
#Navigation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
#Navigation .logo {
  grid-area: 1/1/2/3;
  display: flex;
  justify-content: flex-start;
  padding-left: 5px;
}
#Navigation .NavBar {
  grid-area: 1/3/2/4;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Navigation .Inscription {
  grid-area: 1/4/2/5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Inscription a {
  color: #0065fc;
  text-decoration: none;
  border-top: none;
  margin-left: -3em;
  margin-top: -15px;
  padding-top: 2rem;
}
/* ******************Barre-de-recherche**************** */
#Recherche {
  margin: 0 0 1em 1em;
}
h1 {
  font-weight: bold;
  font-size: 2em;
  display: flex;
}
label,
input {
  display: table-row;
}
input[type="submit"] {
  background-color: #0065fc;
  color: white;
  border-radius: 0 1em 1em 0;
  height: 4em;
  padding: 0 10px 0 10px;
  font-weight: bold;
  border: #0065fc;
}
.Search {
  padding: 1em;
}
input[type="search"] {
  height: 4em;
  margin-left: -3px;
  font-weight: bold;
  border:#f2f2f2;
  
}
span i {
  background-color: #f2f2f2;
  padding: 18px;
  border-radius: 1em 0 0 1em;
}
.Logoloupe [data-active="false"]   {
  color: transparent;
  background-color: transparent;
}

/* ***********Filtres******************** */
#Filtres {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}
#Filtres h2 {
  margin-right: 15px;
  padding-top: 1rem;
  font-size: 1.4em;
}
div .bouton-Filtres {
  display: flex;
  flex-wrap: nowrap;
  padding-right: 10px;
}
.bouton-Filtres {
  margin-top: 2rem;
  border: solid 1px rgba(187, 183, 183, 0.952);
  border-radius: 15rem;
  font-weight: bold;
  margin-right: 15px;
}
.bouton-Filtres:hover {
  color: grey;
}
.bouton-Filtres i {
  background-color: #deebff;
  padding: 11px;
  color: #0065fc;
  border-radius: 1rem;
  overflow: hidden;
  margin: -1px 0 -1px -1px;
}
.bouton-Filtres span {
  display: flex;
  align-items: center;
}
div .Animaux {
  display: flex;
  flex-wrap: nowrap;
}
p i {
  color: white;
  background-color: #0065fc;
  border-radius: 1em;
}
/* *******************Hébergements****************** */
#Hebergements {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "#Hebergements-Marseille" "Les-plus-populaires";
  margin-left: 5px;
  margin-right: 1em;
}
#Hebergements-Marseille {
  grid-column: 1/2;
  background-color: #f2f2f2;
  border-radius: 1em;
  height: 37.5em;
  width: 42em;
  margin: 0 1em 0 0 ;
  padding: 0 0 0 20px;
  display: flex;
  flex-wrap: wrap;
}

#Hebergements-Marseille h2 {
  display: flex;
  align-items: center;
  margin-right: 3em;
  width: 500%;
}
.room {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  border: solid 4px white;
  border-radius: 1em;
  height: 13em;
  width: 12em;
  overflow: hidden;
}
.Etoile {
  padding-left: 0;
  margin-left: 5px;
}
.Etoile [data-active="true"] {
  color: #0065fc;
}
.Etoile [data-active="false"] {
  color: rgb(187, 180, 180);
}
.room :hover {
  color: grey;
}
.room figcaption {
  font-weight: bold;
  padding-left: 0.32em;
  margin: -10px 0 0 0;
  height: 0.5em;
  width: 11.1em;
}
.room figure {
  height: 10em;
  width: 12em;
  background-color: white;
  border-radius: 1em;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 -20px 0;
}
.room img {
  height: 6.5em;
  width: 12em;
  padding-left: 0px;
}
.room p {
  padding: 0;
  margin: 0;
  height: 1.625em;
  width: 9.6875em;
  display: flex;
  flex-wrap: nowrap;
  padding-left: 5px;
}
div .room {
  margin: 0.5em;
  background-color: white;
  display: flex;
  justify-content: flex-start;
}
strong p {
  font-weight: bold;
  margin-top: 0px;
}

/* ****************LES PLUS POPULAIRE************* */
#Les-plus-populaires {
  float: right;
  grid-column: 2/3;
  background-color: #f2f2f2;
  padding: 0 5px 0 8px;
  margin: 0;
  height: 37.5em;
  width: 27.5em;
  border-radius: 1em;
}
.MostPopular {
  border-radius: 1em;
  height: 153px;
  width: 402px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  background-color: white;
}
.MostPopular img {
  height: 150px;
  width: 140px;
  border-radius: 1em 0 0 1em;
  border: solid 2px white;
}
.MostPopular figure {
  width: 400px;
  height: 153px;
  margin: 0;
  display: flex;
  flex-direction: row;
  border-radius: 1em;
  border: solid 2px white;
}
.MostPopular figcaption {
  font-weight: bold;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding-left: 5px;
  width: 180px;
  height: 30px;
  font-size: medium;
}
.MostPopular p {
  display: flex;
  flex-wrap: nowrap;
  width: 180px;
  height: 50px;
  font-size: medium;
  margin: -80px 0 0 146px;
}
.MostPopular .Star {
  display: flex;
  flex-wrap: nowrap;
  margin: -20px 0 0 146px;
  color: #0065fc;
}
.Star [data-active="true"] {
  color: #0065fc;
}
.Star [data-active="false"] {
  color: rgb(187, 180, 180);
}

/* *******************Activites Marseille*************** */
#Activity{
  padding-bottom: 40px;
}
.Activites {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-left: 0; 
}
#Activity h2{
  padding-left: 10px;
}
.Activites .Grande-image1 {
  grid-area: 1 / 1 / 3 / 2;
}
.Activites .Normal-image1 {
  grid-area: 1 / 2 / 2 / 3;
}
.Activites .Normal-image2 {
  grid-area: 2 / 2 / 3 / 3;
}
.Activites .Grande-image2 {
  grid-area: 1 / 3 / 3 / 4;
}
.Activites .Normal-image3 {
  grid-area: 1 / 4 / 2 / 5;
}
.Activites .Normal-image4 {
  grid-area: 2 / 4 / 3 / 5;
}
.Activites .Grande-image2 img,
.Activites .Grande-image1 img {
  height: 22em;
  width: 17em;
  border-radius: 1em 1em 0 0;
}
.Grande-image1 figure,
.Grande-image2 figure {
  border-radius: 1em;
  padding-bottom: 1em;
  box-shadow: 0 0 10px grey;
  width: 17em;
  height: 24em;
  font-weight: bold;
}
.Grande-image1,.Grande-image2{
  width: 40px;
 margin-left: 0px;
}
div.Grande-image1{
  margin-left: 0px;
  padding-right: 15px;
  width: 315px;
  height: 470px;
}
div.Grande-image2{
  margin-left:-40px ;
  padding-right: 15px;
  width: 315px;
  height: 470px;
}
.Activites .Normal-image1 img,
.Activites .Normal-image4 img {
  height: 10em;
  width: 17em;
  border-radius: 1em 1em 0 0;
}
.Activites .Normal-image2 img,
.Activites .Normal-image3 img{
  height: 7em;
  width: 17em;
  border-radius: 1em 1em 0 0;
}
.Normal-image1 figure,
.Normal-image4 figure {
  border-radius: 1em;
  padding-bottom: 1em;
  box-shadow: 0 0 10px grey;
  width: 17em;
  height: 11.5em;
  font-weight: bold;
  margin-left: 10px;
}
.Normal-image2 figure,
.Normal-image3 figure{
  border-radius: 1em;
  padding-bottom: 1em;
  box-shadow: 0 0 10px grey;
  width: 17em;
  height: 9em;
  font-weight: bold;
  margin-left: 10px;
}
div.Normal-image1{
  margin-left: 0px;
  width: 300px;
  height: 232px;
}
div.Normal-image2{
  margin-top: 5px;
  margin-left: 0px;
  width: 300px;
  height: 200px;
}
div.Normal-image3{
  margin-left: -20px;
  width: 300px;
  height: 200px;
}
div.Normal-image4{
  margin-top: -34px;
  margin-left: -20px;
  width: 300px;
  height: 232px;
}
.Normal-image1,.Normal-image2,.Normal-image3,.Normal-image4{
  width: 15px;
}
.Activites figcaption {
  padding-left: 10px;
}
/* *****************FOOTER****************************** */
footer {
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-left: 10px;
}
#A-propos {
  grid-column: 1/2;
}
#Nos-hergements {
  grid-column: 2/3;
}
#Assistance {
  grid-column: 3/4;
}
ul {
  list-style-type: none;
  padding: 0;
}
li{
  padding-bottom: 0.5rem;
}
/* ***************Responsive Tablette************************ */
@media screen and (max-width: 900px) {
  #Navigation {
    display: flex;
    align-items: flex-end;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  nav {
    display: flex;
    flex-wrap: nowrap;
  }
  nav .logo{
   margin-left: 5px;
  }
  .NavBar{
    margin-left: 2rem;
  }
  .NavBar a{
    padding-bottom: 2rem;
  }
  .NavBar a:hover {
    text-decoration: none;
    border-top: none;
    border-bottom: 3px solid #0065fc;
          padding-bottom: 2rem;
  }
  .NavBar [data-active="true"] {
    color: #0065fc;
    text-decoration: #0065fc;
    border-top: none;
    border-bottom: 3px solid #0065fc;
          padding-bottom: 2rem;
  }
  .Inscription a {
    color: #0065fc;
    text-decoration: none;
    border-top: none;
    margin-left: -8em;
    padding-bottom: 2rem;
  }
  #Hebergements {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  #Hebergements #Hebergements-Marseille {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 0 0 0 11px;
    width: 27.5em;
    margin-left: 0;
    height: 90em;
    margin-left: 5em;
  }
  .room{
    padding-right: 0rem;
    height: 14em;
    width: 24em;
  }
  .room img {
    width: 24em;
    height: 7em;
  }
  #Hebergements-Marseille figure {
    width: 25em;
    height: 10em;
  }
  #Hebergements #Les-plus-populaires {
    margin-left: 5em;
    margin-top: 2em;
    margin-bottom: 20px;
  }
  #Activity {
    margin-left: 5px;
  }
  .Activites {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
  }
  .Activites div{
    height: 250px;
    width: 600px;
    margin:0px;
  }
  .Activites figure {
    display: flex;
    flex-wrap: wrap;
    width: 35em;
    height: 12em;
  }
  .Activites figcaption {
    display: flex;
    align-items: center;
    font-size: small;
  }
  .Activites .Normal-image1 img,
  .Activites .Normal-image2 img,
  .Activites .Normal-image3 img,
  .Activites .Normal-image4 img,
  .Activites .Grande-image1 img,
  .Activites .Grande-image2 img {
    width: 20em;
    height: 13em;
    border-radius: 1em 0 0 1em;
  }
div .Grande-image2,div .Grande-image1{
  margin-left: -27px;
}
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  li{
    padding-bottom: 0.5rem;
  }
}
/* ******************RESPONSIVE MOBILE************** */
@media screen and (max-width: 650px){
  header{
  height: 126px;
  width: max-content;
  border-bottom: solid 3px rgb(221, 212, 212);
   } 
  #Navigation {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 4rem;
  }
  #Navigation .logo, #Navigation .Inscription{
    grid-area: 1/1/2/3;
    padding-bottom: 10px;
  }
  #Navigation .NavBar{
    grid-area: 2/1/3/3;
    margin-left: 0;
  }
  nav .logo{
    margin-left: 2px;
    width: 200px;
  }
  .NavBar a {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
  margin-right: 10px;
  margin-left: -10px;
  width: 7em;
  padding-left: 3rem;
  padding-right: 4rem;
  }
  .NavBar a:hover {
    text-decoration: none;
    border-top: none;
    border-bottom: 3px solid #0065fc;
          padding-bottom: 1rem;
          margin-bottom: 2rem;
  }
  .NavBar [data-active="true"] {
    color: #0065fc;
    text-decoration: #0065fc;
    border-top: none;
    border-bottom: 3px solid #0065fc;
          padding-bottom: 1rem;
          margin-bottom: 2rem;
  }
  .Inscription a {
    color: #0065fc;
    text-decoration: none;
    border-top: none;
    padding-left: 25em;
    width: 200px;
    height: 9px;
    display: flex;
    justify-content: flex-start;
  }
  #Filtres {
    display: flex;
    flex-wrap: wrap;
  }
  div .bouton-Filtres {
    display: flex;
    flex-wrap: wrap;
  }
  .Logoloupe [data-active="false"]{
    color: white;
    background-color: #0065fc;
    height: 1em;
    border-radius: 0 1em 1em 0;
    padding-left: 1rem;
    margin-left: -10px;
  }
  input[type="submit"] {
    background-color: transparent;
    color:transparent;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
  }
  #Hebergements {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
 #Hebergements #Hebergements-Marseille {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 0;
    width: 20em;
    margin-left: 2em;
    height: 90em;
    background-color: transparent;
  }
  #Hebergements-Marseille figure {
    width: 16em;
    height: 10em;
  }
  .room figcaption{
    width: 200px;
  }
  .room{
    padding-right: 0rem;
    height: 14em;
    width: 16em;
    box-shadow: 0 0 10px grey;
  }
  .room img {
    width: 17em;
    height: 7em;
  }
  #Hebergements #Les-plus-populaires {
    margin-left: 1em;
    width: 19em;
    margin-bottom: 20px;
    border-radius: 0;
  }
  .MostPopular{
    width: 19em; 
    height: 10.1em;
  }
  .MostPopular figure {
    width: 19em;
    height: 10.1em;
    display: flex;
    flex-wrap: nowrap;
  }
  .MostPopular img {
    height: 10em;
    width: 7em;
    border-radius: 1em 0 0 1em;
    border: solid 2px white;
  }
  .MostPopular p{
    margin-left: 7.5rem;
  }
  .MostPopular .Star{
    margin-left: 7.5rem;
  }
  #Activity{
    margin-right: 9px;
    margin-left: 10px;
  }
  #Activity h2{
    margin-left: 10px;
  }
  .Activites {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    margin-left: 8px;
  }
  .Activites div{
    width: 315px;
    height: 200px;
    margin:0;
  }
  .Activites figure {
    display: flex;
    flex-wrap: wrap;
    width: 19em;
    height: 10em;
    margin-left: 10px;
  }
  .Activites figcaption {
    display: flex;
    align-items: center;
    font-size: small;
    padding-left: 5px;
  }
  .Activites .Normal-image1 img,
  .Activites .Normal-image2 img,
  .Activites .Normal-image3 img,
  .Activites .Normal-image4 img,
  .Activites .Grande-image1 img,
  .Activites .Grande-image2 img {
    width: 19em;
    height:8em;
    border-radius: 1em 1em 0 0;
  }

  footer {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    width: 47em;
  }
  
}
